


<div class="m-5 text-center">
    <h1 class="text-center">Edit Contractor</h1>
    <div style="border:1px solid black;">
       <form id="form" #form="ngForm" (ngSubmit)="updateContractor()">
        <div class="m-3 col-xs-3">
            <label for="id">ID: </label>
            <input class="form-control" type="text" id="id" readonly name="id" [(ngModel)]="contractorDetails.id">
        </div>
        <div class="m-3 col-xs-3">
            <label for="name">Name: </label>
            <input class="form-control" type="text" id="name" name="name" [(ngModel)]="contractorDetails.name">
        </div>
        <div class="m-3 col-xs-3">
            <label for="city">City: </label>
            <input class="form-control" type="text" id="city" name="city" [(ngModel)]="contractorDetails.city">
        </div>
        <div class="m-3 col-xs-3">
            <label for="address">Address: </label>
            <input class="form-control" type="text" id="address" name="address" [(ngModel)]="contractorDetails.address">
        </div> 
        <div class="m-3 col-xs-3">
            <label for="postalCode">PostalCode: </label>
            <input class="form-control" type="text" id="postalCode" name="postalCode" [ngModel]="contractorDetails.postalCode">
        </div>   
        <div class="m-3 col-xs-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
      </form>
    </div>
    </div>
    