<div class="m-3">
    <h1 class="text-center m-3">Statistics dashboard</h1>
    <div class="d-flex flex-row flex-wrap justify-content-around">
        <div class="card mt-3" style="width: 36rem;">
            <div class="card-header">
                Top Cities
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{TopCitiesIncome[0].city}};{{TopCitiesIncome[0].income|number:'1.2-2'}}
                    PLN ;{{TopCitiesContractors[0].city}}{{TopCitiesContractors[0].contractors}}</li>
                <li class="list-group-item">{{TopCitiesIncome[1].city}};{{TopCitiesIncome[1].income|number:'1.2-2'}}
                    PLN ;{{TopCitiesContractors[1].city}}{{TopCitiesContractors[1].contractors}}</li>
                <li class="list-group-item">{{TopCitiesIncome[2].city}};{{TopCitiesIncome[2].income|number:'1.2-2'}}
                    PLN ;{{TopCitiesContractors[2].city}}{{TopCitiesContractors[2].contractors}}</li>
            </ul>
        </div>
        <div class="card mt-3" style="width: 36rem;">
            <div class="card-header">
                Top Orders By Income
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{OrderStats[0].id}};{{OrderStats[0].contractorName}};{{OrderStats[0].income
                    |number:'1.2-2' }} PLN</li>
                <li class="list-group-item">
                    {{OrderStats[1].id}};{{OrderStats[1].contractorName}};{{OrderStats[1].income|number:'1.2-2' }} PLN
                </li>
                <li class="list-group-item">
                    {{OrderStats[2].id}};{{OrderStats[2].contractorName}};{{OrderStats[2].income|number:'1.2-2' }} PLN
                </li>
            </ul>
        </div>
        <div class="card mt-3" style="width: 36rem;">
            <div class="card-header">
                Top Contractors By Income
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{ContractorStats[0].id}};{{ContractorStats[0].name}}
                    ;{{ContractorStats[0].address}};{{ContractorStats[0].postalCode}}
                    ;{{ContractorStats[0].moneySpent|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">
                    {{ContractorStats[1].id}};{{ContractorStats[1].name}}
                    ;{{ContractorStats[1].address}};{{ContractorStats[1].postalCode}}
                    ;{{ContractorStats[1].moneySpent|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">
                    {{ContractorStats[2].id}};{{ContractorStats[2].name}}
                    ;{{ContractorStats[2].address}};{{ContractorStats[2].postalCode}}
                    ;{{ContractorStats[2].moneySpent|number:'1.2-2' }} PLN</li>
            </ul>
        </div>
        <div class="card mt-3" style="width: 36rem;">
            <div class="card-header">
                Top Products Income
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ProductStats[0].name}};{{ProductStats[0].totalEarned}};{{ProductStats[0].totalEarned|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">{{ProductStats[1].name}};{{ProductStats[1].totalEarned}};{{ProductStats[1].totalEarned|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">{{ProductStats[2].name}};{{ProductStats[2].totalEarned}};{{ProductStats[2].totalEarned|number:'1.2-2' }} PLN</li>
            </ul>
        </div>
        <div class="card mt-3" style="width: 36rem;">
            <div class="card-header">
                Top Products Saled
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{MostProductsSold[0].name}};{{MostProductsSold[0].totalEarned}};{{MostProductsSold[0].totalEarned|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">{{MostProductsSold[1].name}};{{MostProductsSold[1].totalEarned}};{{MostProductsSold[1].totalEarned|number:'1.2-2' }} PLN</li>
                <li class="list-group-item">{{MostProductsSold[2].name}};{{MostProductsSold[2].totalEarned}};{{MostProductsSold[2].totalEarned|number:'1.2-2' }} PLN</li>
            </ul>
        </div>
    </div>
</div>