<p>view-orders works!</p>
<table class="table table-bordered table-dark">
    <thead>
      <tr>
      <th >ID</th>
      <th >CreationDate</th>
      <th >ContractorName</th>
      <th >OverallBrutto</th>
      <th >OverallNetto</th>
    </tr>
    </thead>
    <tbody>
     <tr *ngFor="let order of orders">
      <td >{{order.id}}</td>
      <td >{{order.createdAt | date:'yyyy-MM-dd'}}</td>
      <td >{{order.contractor.name}}<a [routerLink]="['/editContractor',order.contractor.id]">View</a></td>
      <td >{{order.overallBrutto}}</td>
      <td >{{order.overallNetto}}</td>
      </tr>
    </tbody>
  </table>   