<h1 class="text-center">Products</h1>
<div class="m-3">
 <table class="table table-bordered">
  <thead>
    <tr>
    <th >ID</th>
    <th >Name</th>
    <th >Vat</th>
    <th >Netto</th>
    <th >Brutto</th>
  </tr>
  </thead>
  <tbody>
   <tr *ngFor="let product of products">
    <td >{{product.id}}<a class="btn btn-primary" [routerLink]="['/editProduct',product.id]">View</a>
      <button class="btn btn-danger" type="button" (click)="deleteProduct(product.id!)">Delete</button></td>
    <td >{{product.name}}</td>
    <td >{{product.vat}}</td>
    <td >{{product.nettoPrice}}</td>
    <td >{{product.bruttoPrice}}</td>
    </tr>
  </tbody>
</table>
</div> 