

<div class="m-5 text-center">
    <h1 class="text-center">Add New Contractor</h1>
    <div style="border:1px solid black;width: 60%;margin:auto">
       <form id="form" #form="ngForm" (ngSubmit)="addContractor(newContractor)">
        <div class="m-3 col-xs-3">
            <label for="name">Name: </label>
            <input class="form-control" type="text" id="name" name="name" [(ngModel)]="newContractor.name">
        </div>
        <div class="m-3 col-xs-3">
            <label for="surName">PostalCode: </label>
            <input class="form-control" type="text" id="surName" name="surName" [(ngModel)]="newContractor.postalCode">
        </div>
        <div class="m-3 col-xs-3">
            <label for="phone">City: </label>
            <input class="form-control" type="text" id="phone" name="phone" [(ngModel)]="newContractor.city">
        </div>
        <div class="m-3 col-xs-3">
            <label for="Birtdate">Address: </label>
            <input class="form-control" type="text" id="birthDate" name="birthDate" [(ngModel)]="newContractor.address">
        </div>   
        <div class="m-3 col-xs-3">
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
      </form>
    </div>
    </div>
    